* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    flex-direction: column;
    width: 380px;
  }

.green {
    background-color: green;
    flex-grow: 1;
  }
.yellow {
    background-color: yellow;
    flex-grow: 2;
    order: 1;
  }   
.purple {
    background-color: purple;
    flex-grow: 1;
  }

.item {
    align-self: center;
    width: 100%;
  }